<!-- <div class="container">
  <div class="row">
    <div class="col" style="background-color: lavender;">.col-sm-4</div>
    <div class="col" style="background-color: lavenderblush;">.col-sm-4</div>
    <div class="col" style="background-color: lavender;">.col-sm-4</div>
  </div>
</div> -->
<ng-template #popTitle>Password Criteria</ng-template>
<ng-template #popContent>
  <mat-icon *ngIf="passwordCheck[0]" style="font-size: 15px;vertical-align: -10%;color: green;">check_circle</mat-icon>
  <mat-icon *ngIf="!passwordCheck[0]" style="font-size: 15px;vertical-align: -10%;color: red;">cancel</mat-icon>Length should be a minimum of 8 and a maximum of 15<br/>
  <mat-icon *ngIf="passwordCheck[1]" style="font-size: 15px;vertical-align: -10%;color: green;">check_circle</mat-icon>
  <mat-icon *ngIf="!passwordCheck[1]" style="font-size: 15px;vertical-align: -10%;color: red;">cancel</mat-icon>At least one character<br/>
  <mat-icon *ngIf="passwordCheck[2]" style="font-size: 15px;vertical-align: -10%;color: green;">check_circle</mat-icon>
  <mat-icon *ngIf="!passwordCheck[2]" style="font-size: 15px;vertical-align: -10%;color: red;">cancel</mat-icon>At least one number<br/>
  <mat-icon *ngIf="passwordCheck[3]" style="font-size: 15px;vertical-align: -10%;color: green;">check_circle</mat-icon>
  <mat-icon *ngIf="!passwordCheck[3]" style="font-size: 15px;vertical-align: -10%;color: red;">cancel</mat-icon>At least one special character
</ng-template>
<br/><br/><br/><br/>
<form [formGroup] = "forgotPasswordFormGroup" class="container">
  <div class="form">
    <mat-form-field class="example-full-width"
    placement="right" [ngbPopover]="popContent" [popoverTitle]="popTitle"
    triggers="manual" #p1="ngbPopover" [autoClose]="false">
      <input  matInput [type]="hide ? 'password' : 'text'" class="form-control"
      placeholder="New Password" name="newPassword" formControlName="newPassword"
      (input)="popoverToggle(p1)"
      (focus)="popoverToggle(p1)"
      (focusout)="popoverOff(p1)">
      <mat-icon class="login-icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="forgotPasswordFormGroup.controls.newPassword?.errors?.required &&
                        forgotPasswordFormGroup.controls.newPassword?.touched">
                  Password is required
      </mat-error>
      <mat-error *ngIf="forgotPasswordFormGroup.controls.newPassword?.errors?.pattern &&
                        forgotPasswordFormGroup.controls.newPassword?.dirty">
                        Use 8 - 15 characters with a mix of letters, numbers & special characters
      </mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button
                color="primary"
                [disabled]="forgotPasswordFormGroup.invalid"
                (click) = "onSubmit()">
                <mat-icon>send</mat-icon>
                Submit
        </button>
</form>
